#feature-stories article div:first-child{
  width: 100%;
}
#feature-stories article div:first-child img{
  width: 100%;
}
#more-stories > article{
  padding-bottom: 10px;
}
#more-stories > article > div > img{
  width: 135px;
}
#opinion article{
  padding-bottom: 10px;
}

.article>h3 {
  font-size: 20px;
  line-height: 20px;
}
.article>p {
  font-size: 13px;
  line-height: 18px;
}

