* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f5f6;
}

body>header {
  background-color: white;
  color: white;
  max-width: 1320px;
  margin-bottom: 15px;
}

body>main {
  max-width: 1320px;
  padding-top: 15px;
  background-color: white;
}

body>header>div {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f72210;
}

body>header>div>div {
  text-align: right;
}

body>header>div>div>button {
  display: none;
}

body>header>div>img {
  width: 396px;
  height: 60px;
}

body>header>div>p {
  margin-bottom: 0;
}

body>header>div>div>a {
  text-transform: uppercase;
}

body>header>div>div>a:hover {
  text-decoration: none;
}

body>header>div>div>a:first-of-type {
  color: white;
}

body>header>div>div>a:last-of-type {
  background-color: white;
  color: #f72210;
}

body>header>nav {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

body>header>nav ul {
  width: 85%;
  justify-content: space-between;
}

body>header>nav ul li {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  font-weight: bold;
}

body>header>nav ul span {
  height: 21px;
  margin-top: 10px;
}

body>header>nav>div>form {
  padding-right: 25px;
}

body>header>nav>div>form>input {
  max-width: 120px!important;
  width: 80%!important;
}

body>header>nav>div>form>a {
  color: black;
}

#red-trapezoid {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 12px solid #f72210;
  border-left: 10px solid transparent;
  height: 12px;
  width: 70px;
}

#header-scrolled-down {
  width: 150px;
}

.header-scrolled-down>p {
  display: none;
}

.header-scrolled-down>img {
  height: 20px;
  width: 131px;
  margin-left: 10px;
}

.header-scrolled-down>div {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
}

.header-scrolled-down>div>a {
  margin-right: 5px;
}

.header-scrolled-down>div>button {
  display: block;
  float: right;
  margin-top: -3px;
  color: white;
  height: 20px;
}

.navbar-scrolled-down {
  position: fixed;
  top: 40px;
  right: 0px;
  overflow: scroll;
  height: 90vh;
  z-index: 10;
  display: none;
}

.navbar-scrolled-down ul span {
  display: none;
}

.navbar-scrolled-down div {
  display: flex;
  flex-direction: column;
}

.navbar-scrolled-down div form {
  order: 0;
}

.navbar-scrolled-down div ul {
  order: 1;
}

.navbar-scrolled-down div:nth-of-type(2) {
  display: none;
}

#feature-stories h2, #top-story h2, #culture-n-travel h2, #more-stories h2, #opinion h2, #last-news h2 {
  color: rgba(3, 3, 3, .4);
  font-weight: bold;
  font-size: 16px;
}

#feature-stories article div:first-child {
  position: relative;
}

#feature-stories article div:first-child p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  color: red;
  font-weight: bold;
  margin-bottom: 0;
  padding: 5px;
}

#feature-stories article h3 a {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

#feature-stories article h3 p {
  color: #666;
  font-size: 13px;
}

#top-story article div:first-child img {
  width: 100%;
  height: 100%;
}

#top-story article div:first-child {
  position: relative;
}

#top-story article div:first-child img {
  width: 100%;
  height: 100%;
}

#top-story article div:first-child p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  color: red;
  font-weight: bold;
  margin-bottom: 0;
  padding: 5px;
}

#culture-n-travel {
  background-color: #f4f5f7;
}

#culture-n-travel div article img {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
}

#culture-n-travel div article h3 {
  font-size: 20px;
}

#culture-n-travel div article p:first-of-type {
  font-size: 13px;
  color: rgba(39, 39, 39, .5);
  ;
}

#culture-n-travel div article p:last-of-type {
  font-size: 13px;
  color: black;
  background-color: #c2d4d7;
  display: inline-block;
  padding-right: 3px;
  padding-left: 3px;
}

#culture-n-travel div article p:last-of-type:hover {
  color: #c2d4d7;
  background-color: black;
}

#more-stories {
  margin-top: 20px;
}

#more-stories>article {
  padding-top: 20px;
}

#more-stories>article>div>img {
  width: 135px;
  display: block;
}

#more-stories>article>div:last-of-type {
  padding-left: 5px;
}

#more-stories>article>div:last-of-type h4 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
}

#more-stories>article>div:last-of-type p {
  font-size: 15px;
}

#opinion article div:last-of-type {
  padding-left: 15px;
}

#opinion article div:last-of-type p:first-of-type {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 17px;
  color: black;
  line-height: 20px;
  margin-bottom: 5px;
}

#opinion article div:last-of-type p:last-of-type {
  color: #666;
  font-weight: bold;
  margin-bottom: 5px;
}

#opinion article {
  margin-top: 10px;
}

#opinion {
  margin-bottom: 5px;
}

#last-news article {
  margin-top: 10px;
  padding-top: 10px;
}

#last-news article div img {
  width: 139px;
}

#last-news article p {
  padding-left: 15px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
}

#newsletter-singup {
  margin-top: 15px;
  background-color: #f4f5f6;
  border: 1px solid #e5e5e5;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
}

#newsletter-singup div:first-of-type div {
  background-color: #f72210;
  height: 30px;
  width: 30px;
}

#newsletter-singup div:first-of-type div img {
  height: 100%;
  width: 100%;
}

#newsletter-singup div:first-of-type h3 {
  font-size: 19px;
  line-height: 15px;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#newsletter-singup button {
  margin-top: 15px;
  border: 0;
  background-color: #666666;
  color: white;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

#newsletter-singup>p {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
}

#part-2 {
  margin-top: 10px;
}

#part-2 img {
  width: 100%;
  height: 290px;
}

#part-2>div:first-child>article:first-child img {
  height: 387px;
}

#part-2 article>div:first-of-type {
  position: relative;
}

#part-2 article>div:first-of-type p {
  position: absolute;
  bottom: 0;
  font-size: bolder;
  background: white;
  color: red;
  margin-bottom: 0;
  width: 100%;
  padding-top: 10px;
}

#part-2 article>div:first-of-type p span {
  background: red;
  color: white;
  margin: 0;
  padding-right: 5px;
  display: inline-block;
}

#part-2 h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: bolder;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 10px;
}


#part-2>div:first-of-type>article>div>p {
  background-color: #efefef;
  width: auto;
  padding: 5px;
}

#part-2>div:first-of-type>article>h3 {
  margin-top: 0;
  padding: 5px;
  text-align: center;
}


.article>h3 {
  font-size: 21px;
  line-height: 24px;
  text-transform: capitalize;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
}

.article>p {
  font-size: 15px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}

.article>div:first-of-type {
  position: relative;
  margin-bottom: 10px;
}
.article>div:first-of-type img{
  width: 100%;
}
.article>div:first-of-type p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 0;
  padding: 5px;
}

#part-3{
  margin-top:20px;
}
.section-title > div{
  width: 25px;
  height: 25px;
  background-color: red;
  margin-top: -5px;
}
.section-title > h3{
  padding-left: 5px; 
  font: bold 19px/19px "Roboto Condensed",sans-serif !important;
}

.section-title > div>img{
  height: 25px!important;
  width: 25px!important;
}

.section-header{
  color:#f72210;
  font-family: "Roboto Condensed",sans-serif ;
  font-weight: bolder;
  font-size: 21px;

}
.side-article p{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  padding-left: 10px;
  color:black;
}
.side-article img {
  height: 90px;
  width: 135px;
}
#part-11 > div> div:first-of-type >div{
  background-color: #f4f5f6;
  min-height: 275px;
  
}
#part-11 > div> div:nth-of-type(2) >div{
  border: 1px solid #ebebeb;
  position: relative;
  height: 275px;
  overflow: hidden;
}
#part-11-img{
  background: rgba(0, 0, 0, 0) url("https://g.newsweek.com/themes/newsweek/images/subscribe-img2.gif") no-repeat scroll center center / cover;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}
#part11-briefing {
  box-sizing: border-box;
  padding: 10px;
}
.part11-paragraph{
  font-family: "Roboto Condensed",sans-serif;
}
.part11-header{
  font-family: "Roboto Condensed",sans-serif;
  font-size: 24px;
  font-weight: bolder;
}
.mag-button{
  border: 0;
  text-transform: uppercase;
  background-color: #f72210;
  color: white;
  padding: 10px;
}
#part-11-magazine-pics{
  position: relative;
}

#part-11-magazine-pics img:first-child{
  margin-top: 20px; 
  margin-left: 20px;
}
#part-11-magazine-pics img:last-child{
  position: absolute;
  left: 60px;
  top : 40px;
}

#part-11-magazine-subscribe{
  padding: 10px;
}

#footer-logo{
  height: 36px;
  width: 237px;
}
footer{
  background-color: white;
  max-width: 1320px;

}
footer>div{
  color:#666666;
  width: 95%;
  margin: auto;
}
#footer-social-media{
  font-size: 24px;
}
#copyright{
  font-size: 13px;
}

footer ul{
   list-style: none;
   margin-bottom: 0;
   padding-left:0 !important;
}
footer ul li{
  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
}
#footer-links{
  margin: auto;
}
#editions{
  font-weight:bolder;
  float: left; 
}